<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span>Project Manager</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" routerLink="/projects">Product</button>
  <button mat-raised-button color="warn" routerLink="/tasks">Tasks</button>
  <button mat-raised-button color="warn" routerLink="/users">Users</button>
</mat-toolbar>
